NODE_ENV=development

DB_HOST=db
DB_PORT=5432
DB_HOST_PORT=5434
DB_NAME=slw
DB_USER=slw_user
DB_PASSWORD=채워주세요

API_PORT=3000
API_HOST_PORT=3100


GROQ_API_KEY=채워주세요
LLM_MODEL=llama-3.3-70b-versatile
